{% macro serviceHero(img, alt, crumb, num, title, crumbHref, crumbLabel) %}
<div class="wrap">
  <section class="service-hero">
    <div class="hero-bg"><img src="{{ img }}" alt="{{ alt }}"></div>
    <svg class="hero-contours" viewBox="0 0 1200 700" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <g fill="none" stroke="#fffdf8" stroke-width="1.1">
        <path d="M-40,120 C 200,60 340,170 560,100 S 980,60 1240,140" opacity="0.5"/>
        <path d="M-40,190 C 220,140 380,240 600,170 S 960,130 1240,210" opacity="0.42"/>
        <path d="M-40,260 C 240,220 420,310 640,240 S 940,210 1240,280" opacity="0.34"/>
      </g>
    </svg>
    <div class="service-hero-content">
      <div class="breadcrumb">
        <a href="/">Forside</a>
        {% if crumbHref %} / <a href="{{ crumbHref }}">{{ crumbLabel }}</a>{% endif %}
        / {{ crumb }}
      </div>
      {% if num %}<span class="service-tag-num">{{ num }}</span>{% endif %}
      <h1>{{ title }}</h1>
    </div>
  </section>
</div>
{% endmacro %}
