---
layout: base.njk
title: Utenomhusarbeider
permalink: /tjenester/utenomhusarbeider/
---
{% from "service-hero.njk" import serviceHero, faglenker, cta %}
{{ serviceHero("/images/fjordhoyden-15.jpg", "Oransje gangvei med kantstein og frodig beplantning", "Utenomhusarbeider", "01 / 04", "Utenomhus­arbeider", "/tjenester/", "Tjenester", "Uteområder som er fine å se på og gode å bruke, fra hager og gårdsplasser til fellesarealer.") }}
<section class="h-sek">
  <div class="wrap detail-grid sub-detalj">
    <div class="detail-copy">
      <p>Vi er en løsningsorientert anleggsgartner med bred erfaring fra både offentlige og private prosjekter. Utenomhusarbeider er kjernen i det vi gjør. Vi tar alt fra hager og gårdsplasser til fellesarealer for borettslag og næringseiendommer, med fokus på kvalitet, funksjonalitet og estetikk i hvert ledd.</p>
      <p>Vi tar gjerne en aktiv rolle i prosjektet og kommer med forslag som sikrer gode, funksjonelle og varige løsninger, tilpasset terrenget, bruken av området og budsjettet.</p>
    </div>
    <div class="detail-list-wrap">
      <div class="label">Vi utfører blant annet</div>
      <ul class="detail-list">
        <li>Opparbeiding og rehabilitering av hager og uteområder</li>
        <li>Belegningsstein til gårdsplasser, innkjørsler, terrasser og gangarealer</li>
        <li>Natursteinsarbeider og skreddersydde steinløsninger</li>
        <li>Støttemurer og terrengtilpasning</li>
        <li>Trapper i naturstein, betong og andre egnede materialer</li>
        <li>Kantstein og avgrensninger</li>
        <li>Plen, ferdigplen og såing</li>
        <li>Beplantning av busker, trær og hekk</li>
      </ul>
    </div>
  </div>
</section>
{{ faglenker("utenomhusarbeider") }}
{{ cta() }}
