---
layout: base.njk
title: Referanser
permalink: /referanser/
---
{% from "service-hero.njk" import serviceHero, cta %}
{{ serviceHero("/images/askim-vgs-5.jpg", "Ferdig skolegård med belegning, plen og paviljonger", "Referanser", "", "Prosjekter vi er stolte av", "", "", "Skoler, barnehager, boligområder og parker for private, næring, borettslag og offentlige oppdragsgivere.") }}
<section class="h-sek">
  <div class="wrap ref-rutenett reveal-group">
    {% for prosjekt in collections.prosjekter %}
    <a class="ref-flis reveal" href="{{ prosjekt.url }}">
      <img src="{{ prosjekt.data.bilde }}" alt="{{ prosjekt.data.tittel }}" loading="lazy">
      <span class="ref-flis-tekst">
        <span class="ref-flis-kat">{{ prosjekt.data.kategori | join(", ") }}</span>
        <h3>{{ prosjekt.data.tittel }}</h3>
        <span class="ref-flis-sted">{{ prosjekt.data.sted }}</span>
      </span>
    </a>
    {% endfor %}
  </div>
</section>
{{ cta() }}
